@font-face {
    font-family: "outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "young-serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f3e5d8;
    
    
}

.container{
    margin: auto;
    margin-top: 5rem;
    max-width: 800px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 3rem;
}  

img{
    width: 700px;
    border-radius: 20px;
}

.text{
    display: flex;
    flex-direction: column;
}

h1{
    margin-top: 1rem;
    font-family: "young-serif";
    font-size: 2.8rem;  
}

p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: "outfit";
}

.time{
    padding: 2rem;
    background-color: #fff4f0;
    border-radius: 20px;
    font-family: "outfit";
    line-height: 30px;
}

.time h3{
    color: rgb(134, 38, 134);
}

.time span{
    font-weight: 700;
    color: rgb(122, 82, 7);
}

.time li{
    color: rgb(122, 82, 7);;
}

.ingredient{
    margin-top: 2rem;
    line-height: 30px;
}

.ingredient h2{
    margin-bottom: 2rem;
    font-family: "young-serif";
    color: rgb(122, 82, 7);
    letter-spacing: 1px;
}

.ingredient li{
    font-family: "outfit";
    color: rgb(122, 82, 7);   
}

hr {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 1px solid hsl(30, 10%, 34%, 0.3);
}

.instruction{
    line-height: 30px;
}

.instruction h2{
    font-family: "young-serif";
    color: rgb(122, 82, 7);
    letter-spacing: 1px;
}


.instruction span{
    font-weight: 700;
    color: rgb(122, 82, 7);
} 

.instruction li{
    font-family: "outfit";
    color: rgb(122, 82, 7); 
}

ol li::marker{
    font-weight: bold !important;
}



.nutrition{
    background-color: white;
}

.nutrition h2{
    margin-bottom: 1rem;
    font-family: "young-serif";
    color: rgb(122, 82, 7);
    font-weight: 600;
    letter-spacing: 1px;
}

.nutrition p{
    margin-bottom: 1rem;
    color: rgb(122, 82, 7);
}

table {
    width: 100%;
    border-spacing: 10px;
    font-family: "outfit";
    margin-bottom: 2rem;
}

table tr:not(tr:last-of-type) {
    position: relative;
}

table td {
    padding-bottom: 10px;
}

table tr:not(tr:last-of-type)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: hsl(30, 10%, 34%, 0.3);
}

table .value {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.attribution{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media (max-width:750px) {
    img {
        width: 400px;  
    }
}



@media (max-width:450px) {
    .recipe-container {
        width: 100%;
        margin: 0;
    }

    .recipe-container img {
        width: 100%;
        margin: 0;
    }

    img {
        width: 300px;
    }
}
